.image {
  background-image: url("Images/IMG_2237.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

header nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin-right: 10px;
}

header nav ul li:last-child {
  margin-right: 0;
}

