.image {
  background-image: url("Images/IMG_2237.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.navigation-links {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  padding: 0;
}

.navigation-links li {
  margin-right: 10px;
}

.navigation-links li:last-child {
  margin-right: 0;
}
