.image {
  background-image: url("Images/IMG_2237.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.header-wrapper,
.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-links,
.external-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navigation-links li,
.external-links li {
  margin-right: 10px;
}

.navigation-links li:last-child,
.external-links li:last-child {
  margin-right: 0;
}

